.fakeimg {
    height: 200px;
    background: #aaa;
}

.user, .driver, .operator, .admin, .signed {
    display: none;
}

.menu-item {
    float: left;
    clear: left;
    padding: 20px;
    width: 100%;
    display: flex;
}

.menu-item-mimg-upload {
    position: relative;
    left: 0px;
    bottom: 36px;
    width: 36px;
    height: 36px;
}

.menu-item-mimg-delete {
    position: relative;
    left: 74px;
    bottom: 36px;
    width: 36px;
    height: 36px;
}

.manage-item.body {
    float: left;
    padding: 20px;
    width: 100%;
}

.manage-item.properties {
    display: flex;
    float: left;
    width: 100%;
}

.manage-item.img {
    background: lightgray;
    width: 200px;
    height: 200px;
    margin-right: 20px;
}

.show-item.body {
    float: left;
    clear: left;
    padding: 20px;
    width: 100%;
    display: flex;
}

.show-item.img {
    width: 15%;
    padding-right: 20px;
}

.show-item.div {
    width: 100%;
}

.show-item.property {
    margin-right: 10px;
    float: left;
}

.manage-item.inner {
    flex-grow: 1;
}

.menu-item-inner {
    width: 100%;
}

.attribute-button {
    margin-right: 5px;
}

.row {
    width: 100%;
}

.manage-places.row {
    display: flex;
}

.manage-places.select-div {
    flex-grow: 1;
}

.manage-places.select {
    width: 100%;
}

.map-div {
    width:600px;
    height:400px;
}

.left {
    float: left;
    clear: left;
}

.float-left {
    float: left;
}

.right {
    float: right;
    clear: right;
}

.number-spinner {
    width: auto;
    max-width: 170px;
}

.side-button {
    max-width: 40px;
}

.contents {
    display: contents;
}

hr {
    clear: both;
}
